<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#6353c9;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">The Tech Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/" id="logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <h1 class="display-2 py-5 text-light">The Tech Blog</h1>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pzjw8f+ua7Kw1TIqj5ty5KVphtPhzWj9WO1clHTMGa5a1X1p1V1p1V1p1V1p1V1"
        crossorigin="anonymous"></script>
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>