{{#if posts.length}}
<section class="container mt-4">
  <h2 class="mb-4">Post History</h2>
  <div class="row">
    {{#each posts as |post|}}
      <div class="col-md-4 mb-3">
        {{> dashboard-detail post}}
      </div>
    {{/each}}
  </div>
</section>
{{/if}}

<div class="container mt-4">
  <a href="/dashboard/new" class="btn btn-primary">Add New Post</a>
</div>